/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#app {
  flex: 1;
}

@media(min-width: 500px) {
#wrapper {
  justify-content: center;
}
  
  #app {
    width: 500px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 3px;
    overflow: hidden;
  }
  
}
@media(min-height: 800px) {
  #wrapper {
    align-items: center;
  }
  
  #app {
    height: 800px;
  }
}

